html{
    width: 100%;
    height: 100%; 
    margin: 0px; 
}

body{
    width: 100%;
    height: 100%; 
    margin: 0px; 
}

main{
    width:100%;
    height:100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff7ee;
}

h1{
    color: #0a5c36; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    margin: 15px; 
}

h2{
    color: #0a5c36; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 14pt;
}

h3{
    color: #0a5c36; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    margin: 15px; 
}

p{
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 15px; 
}


b{
    color: #0a5c36;
}

mark{
    background-color: #fff3b2;
    color: #0a5c36; 
}

.pfp{
    height: 400px;
    width: auto;
}

.profile-desc{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px; 
}

.pfp{
    width: 320px; 
    height: auto;
}

.last-activities{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activity{
    display: flex; 
    gap: 40px; 
    border: solid #0a5c36; 
    padding: 30px 10px 30px 30px; 
    border-radius: 20px;
    width: 800px; 
}

.activity-imgs{
    border-radius: 20px;  
    width: 200px;
}

.desc{
    display: flex;
    flex-direction: column;
}

.labels{
    margin-top: 20px; 
    font-size: 16pt; 
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content{
    margin-top: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 550px;
    
}


