html{
    width: 100%;
    height: 100%; 
    margin: 0px; 
}

body{
    width: 100%;
    height: 100%; 
    margin: 0px; 
}

main{
    width:100%;
    height:100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff7ee;
}

h1{
    color: #31603d; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    margin: 15px; 
}

.pilih-port{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    margin-bottom: 20px; 
    font-size: 15pt; 
    font-weight:500; 
}

.btns,
.labels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center; 
    width: 100%;
    max-width: 600px; 
}

.labels{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.btns {
    margin-bottom: 10px;
}

.portfolio-btn {
    background-color: black; 
    border-radius: 25px;  
    border: none;   
    width: 180px; 
    height: 180px; 
    transition: all 0.25s ease; 
    box-shadow: 0 5px 12px rgba(0,0,0,0.2); 
}

.portfolio-btn:hover{
    cursor: pointer;   
    transform: translateY(-10px); 
    box-shadow: 0 15px 25px #f9b8af; 
}

.names {
    font-size: 14pt;
    font-weight: 500;
}

.hidden{
    visibility: hidden; 
}

[name="btn1"]{
    background: url(../resources/pfp1.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
[name="btn2"]{
    background: url(../resources/pfp2.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
[name="btn3"]{
    background: url(../resources/pfp3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; 
}

