html{
    width: 100%;
    height: 100%; 
    margin: 0px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

body{
    width: 100%;
    height: 100%; 
    margin: 0px; 
}

main{
    width:100%;
    height:100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff7ee; 
}

img{
    height: 280px;
    width: auto;
}

.profile-desc{
    display: flex;
    flex-direction: row;
    align-items: center;
}

h2{
    font-size: 14pt;
    color: #e3919f;
}

h1{
    color: #e3919f;
    margin: 15px; 
}  

em{
    font-size: 12pt;
}

b{
    color: #382823;
}

mark{
    background-color: #fec3ca;
}