html{
    width: 100%;
    height: 100%;  
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

body{
    width: 100%;
    height: 100%; 
    margin: 0px; 
}

main{
    width:100%;
    height:100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #fff7ee; 
}

img{
    height: 280px;
    width: auto;
}

.profile-desc{
    display: flex; 
    flex-direction: row;
    align-items: center;
}

h2{
    font-size: 14pt;
    color: #e3919f;
}

h1{
    color: #e3919f;
    margin: 15px; 
}  

em{
    font-size: 12pt;
}

b{
    color: #382823;
}

mark{
    background-color: #fec3ca;
}

#tiny{
    color: #e3919f;
    opacity: 80%;
}

#divider{
    margin: 30px;
    font-size: 14pt;
    color: #e3919f;
    font-weight: bold;
}

.activity{
    display: flex;  
    border-radius: 25px; 
    background-color: #e3919f;
    padding: 25px;
}

.desc{
    display: flex;
    flex-direction: column;
    color: #fff7ee;
}

.recent-activities{
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.labels{
    margin-top: 20px; 
    font-size: 16pt; 
    font-weight: bold;
}

.content{
    margin-top: 15px;
    width: 550px;
}

#khususYgIni{
    color: #fff7ee;
}

#activityPhoto{
    width: 200px;
    height: auto;
}